*{margin:0; padding:0;}
body{
    font-family: 'Open Sans', sans-serif;
}
main {
    height: 700px;
}
/* header CSS  */
header {
    background-image: url("/assets/img/header-bg.jpg");
    text-align: center;
}
header h1 {
    color: #fff;
}

/* footer CSS  */

footer img {
    background-size: cover;
    background-color: black;
}

